@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "./breakpoints.scss";
@import "./navbar";
@import "./index";

:root, body[data-theme="default"] {
  --content-width: 1366px;
  --color-background-100 : #121212;
  --color-background-200 : #181818;
  --color-background-accent : #4624c7;
  --color-primary-text : #fff;
  --color-secondary-text : #c7c7c7;
  --color-accent-text : #897dff;
  --color-gradient-primary : linear-gradient(90deg, rgba(40,132,246,1) 0%, rgba(123,44,255,1) 100%);
}

body {
  color: var(--color-primary-text);
  background-color: var(--color-background-100);
  font-size: 16px;
}


//css reset

*, *:before, *:after{
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  font-family: "Inter", sans-serif;
}

footer, header, nav, section, main{
  display: block;
}

body{
  line-height: 1;
}

ol, ul{
  list-style: none;
}

blockquote, q{
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
  content: '';
  content: none;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

